html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    background: purple;
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

.list {
    margin: 15px;
    background: aqua;
    border: 3px solid black;
    width: auto;
    padding: 30px;
}

ul {
    flex-direction: column;
    margin: 15px;
    background: aqua;
    border: 3px solid black;
    width: 200px;
    align-items: center;
    justify-content: space-around;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}